{% extends 'base.html' %}



{% block body %}
<META http-equiv="refresh" content="2;URL={% url 'contacts:contact'%}"> 
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Contact Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">


                    <div class="apply_job_form">
                        <div class="alert alert-success" role="alert">
                            Message Sent ... Thank you 
                        </div>
                    
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock body %}